body {
    font-family: 'Choco Cooky';
    background: #000000;
    margin: 0;
}


.headerText{
    text-align:center;
    margin-top:50;
    color: white;
}

#subTitle{
    text-align: center;
    margin-top: 80;
   color: white;

}


hr {
  border: none;
  height: 2px;
  background: white;
  margin: 20px 0;
}

.paraf {
  color: white;

}

.headerText::after {
    content: "";
    color: #ffffff;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
